#app{
  height:90vh;
}
#app>#swap{
	margin-left:35%;
}
#ptag{
	text-align:center;
}
.night{
  background-color: black;
  color:white;
}

#swap{
  outline:0;
}

.button_night{
  background-color:blue;
  color:white; 
}
#ptag{
	color:deepskyblue;	
}

